[submodule "api-docs"]
	path = api-docs
	url = https://github.com/KhronosGroup/OpenVX-api-docs.git
	branch = openvx_1.3
[submodule "cts"]
	path = cts
	url = https://github.com/KhronosGroup/OpenVX-cts.git
	branch = openvx_1.3
